.cadastrar {
    padding-left: 130px;
}

.voltar {
    padding-left: 130px;
}

.salvar{
    margin-top: 1em;
    padding-left: 130px;
}

.user, .count{
    text-align: center;
}

.cdstconta{
    display: initial;
}
