form {
  width: 100%;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: end;
}

.btnCadastrar {
  margin-left: 130px;
  margin-top: 20px;
}

.btnVoltar {
  margin-left: 145px;
}

.user {
    text-align: center;
    margin-bottom: 1em;
}